MONGO_USER=<YOUR-MONGO-DB-USER>
MONGO_PASSWORD=<YOUR-MONGO-DB-PASSWORD>
MONGO_URI=<MONGODB-URI>
MONGO_DB_NAME=<MONGODB-DATABASE-NAME>

MYSQL_DB=<MYSQL-DB-NAME>
MYSQL_USER=<MYSQL-USERNAME>
MYSQL_PASSWORD=<MYSQL-PASSWORD>
MYSQL_HOST=<MYSQL-HOSTNAME>
MYSQL_PORT=<MYSQL-PORT-KEY>

SECRET_KEY=<GET-A-SECURE-SECRET_KEY>